<p id="notice"><%= notice %></p>

<h1>Languages</h1>

<% if logged_in? %>
    <p><%= button_to 'Add Language', new_language_path, method: :get, class: 'btn btn-primary' %></p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>French name</th>
      <th>Ethno</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @languages.each do |language| %>
      <tr>
        <td><%= link_to language.name, language %></td>
        <td><%= language.french_name %></td>
        <td><%= language.ethno %></td>
        <td><%= link_to 'View Archives', archives_path(language: language) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Language', new_language_path %>
