<h2><%= @language.name %></h2>

<% if logged_in? %>
    <p>
      <%= link_to 'Edit', edit_language_path(@language) %>
    </p>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Lang off:</strong>
  <%= @language.lang_off %>
</p>

<p>
  <strong>French name:</strong>
  <%= @language.french_name %>
</p>

<p>
  <strong>Ethno:</strong>
  <%= @language.ethno %>
</p>

<p>
  <strong>Alcam:</strong>
  <%= @language.alcam %>
</p>

<p>
  <strong>Alcno:</strong>
  <%= @language.alcno %>
</p>

<p>
  <strong>Alcnotes:</strong>
  <%= @language.alcnotes %>
</p>

<p>
  <strong>Ethnotes:</strong>
  <%= @language.ethnotes %>
</p>

<p>
  <strong>Part of country:</strong>
  <%= @language.part_of_country %>
</p>

<h3>Related Archives</h3>
<table class="table">
  <tr>
    <th>Archive Number</th>
    <th>Title</th>
    <th>Authors</th>
  </tr>
  <% @language.archives.each do |archive| %>
    <tr>
      <td><%= archive.number %></td>
      <td><%= link_to archive.title, archive %></td>
      <td>
        <% archive.authors.each do |author| %>
          <%= link_to author.surname, author %><%= ', ' unless author == archive.authors.last %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
