<p id="notice"><%= notice %></p>

<h1>Authors</h1>

<% if logged_in? %>
    <p><%= button_to 'New Author', new_author_path, method: :get, class: 'btn btn-primary' %></p>
<% end %>

<table>
  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= "#{author.surname}, #{author.initials}" %></td>
        <td><%= link_to 'View Author', author %></td>
        <td><%= link_to 'View Works', archives_path(author: author.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>