<p id="notice"><%= notice %></p>

<p>
  <strong>Surname:</strong>
  <%= @author.surname %>
</p>

<p>
  <strong>Initials:</strong>
  <%= @author.initials %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
