<p id="notice"><%= notice %></p>

<h2><%= "#{@author.initials} #{@author.surname}" %></h2>

<% if logged_in? %>
  <p>
    <%= link_to 'Edit', edit_author_path(@author) %>
  </p>
<% end %>

<h3>Works:</h3>
<table class="table">
  <tr>
    <th>Archive Number</th>
    <th>Title</th>
    <th>Language</th>
  </tr>
  <% @author.archives.each do |archive| %>
    <tr>
      <td><%= archive.number %></td>
      <td><%=link_to archive.title, archive %></td>
      <td><%= archive.language_name %></td>
    </tr>
  <% end %>
</table>