<%= form_with(model: document_type, local: true) do |form| %>
  <% if document_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document_type.errors.count, "error") %> prohibited this document_type from being saved:</h2>

      <ul>
      <% document_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :document_type %>
    <%= form.text_field :document_type, id: :document_type_document_type %>
  </div>

  <div class="field">
    <%= form.label :document_type_french %>
    <%= form.text_field :document_type_french, id: :document_type_document_type_french %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
