<p id="notice"><%= notice %></p>

<p>
  <strong>Document type:</strong>
  <%= @document_type.document_type %>
</p>

<p>
  <strong>Document type french:</strong>
  <%= @document_type.document_type_french %>
</p>

<%= link_to 'Edit', edit_document_type_path(@document_type) %> |
<%= link_to 'Back', document_types_path %>
