<p id="notice"><%= notice %></p>

<h1>Archives</h1>

<% if logged_in? %>
  <%= button_to 'New Archive', new_archive_path, method: :get, class: 'btn btn-primary' %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Number</th>
      <th>Title</th>
      <th>Document type</th>
      <th>Year</th>
      <th>Language</th>
    </tr>
  </thead>

  <tbody>
    <% @archives.each do |archive| %>
      <tr>
        <td><%= archive.number %></td>
        <td><%= link_to archive.title, archive %></td>
        <td><%= archive.document_type_name %></td>
        <td><%= archive.year %></td>
        <td><%= archive.language_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
