<p id="notice"><%= notice %></p>

<p>
  <h2>
    <%= @archive.title %>
  </h2>
</p>

<% if logged_in? %>
  <p>
    <%= link_to 'Edit Entry', edit_archive_path(@archive) %>
  </p>
<% end %>

<p>
  <strong>Archive Number:</strong>
  <%= @archive.number %>
</p>

<p>
  <strong>Document type:</strong>
  <%= @archive.document_type_name %>
</p>

<p>
  <strong>Language:</strong>
  <%= link_to @archive.language_name, @archive.language %>
</p>

<p>
  <strong><%= 'Author'.pluralize(@archive.authors.count) %>:</strong>
  <% @archive.authors.each do |author| %>
      <%= link_to "#{author.initials} #{author.surname}", author %><br>
  <% end %>
</p>

<p>
  <strong>English title:</strong>
  <%= @archive.english_title %>
</p>

<p>
  <strong>French title:</strong>
  <%= @archive.french_title %>
</p>
<hr>
<div class="row">
  <div class="col-md-4">


    <p>
      <strong>Backup number:</strong>
      <%= @archive.backup_number %>
    </p>

    <p>
      <strong>Capacity:</strong>
      <%= @archive.capacity %>
    </p>

    <p>
      <strong>Year:</strong>
      <%= @archive.year %>
    </p>

    <p>
      <strong>Title of book reviewed:</strong>
      <%= @archive.title_of_book_reviewed %>
    </p>

    <p>
      <strong>Author book reviewed:</strong>
      <%= @archive.author_book_reviewed %>
    </p>

    <p>
      <strong>Journal name:</strong>
      <%= @archive.journal_name %>
    </p>

    <p>
      <strong>Journal vol:</strong>
      <%= @archive.journal_vol %>
    </p>

    <p>
      <strong>Journal num:</strong>
      <%= @archive.journal_num %>
    </p>

    <p>
      <strong>Title of book containing article:</strong>
      <%= @archive.title_of_book_containing_article %>
    </p>

    <p>
      <strong>Details of referenced book:</strong>
      <%= @archive.details_of_referenced_book %>
    </p>

    <p>
      <strong>Series editor:</strong>
      <%= @archive.series_editor %>
    </p>

    <p>
      <strong>Series name:</strong>
      <%= @archive.series_name %>
    </p>

    <p>
      <strong>Series number:</strong>
      <%= @archive.series_number %>
    </p>

    <p>
      <strong>Place of publication:</strong>
      <%= @archive.place_of_publication %>
    </p>

    <p>
      <strong>Publisher:</strong>
      <%= @archive.publisher %>
    </p>
  </div>
  <div class="col-md-4">

    <p>
      <strong>Thesis type:</strong>
      <%= @archive.thesis_type %>
    </p>

    <p>
      <strong>University:</strong>
      <%= @archive.university %>
    </p>

    <p>
      <strong>Conference info:</strong>
      <%= @archive.conference_info %>
    </p>

    <p>
      <strong>Pages:</strong>
      <%= @archive.pages %>
    </p>

    <p>
      <strong>Edition:</strong>
      <%= @archive.edition %>
    </p>

    <p>
      <strong>Copies printed:</strong>
      <%= @archive.copies_printed %>
    </p>

    <p>
      <strong>Illustrations:</strong>
      <%= @archive.illustrations %>
    </p>

    <p>
      <strong>Summary:</strong>
      <%= @archive.summary %>
    </p>

    <p>
      <strong>Bilingual notes:</strong>
      <%= @archive.bilingual_notes %>
    </p>

    <p>
      <strong>Microfiche info:</strong>
      <%= @archive.microfiche_info %>
    </p>

    <p>
      <strong>Notes:</strong>
      <%= @archive.notes %>
    </p>

    <p>
      <strong>Web address:</strong>
      <%= @archive.web_address %>
    </p>
  </div>
</div>