<nav class="navbar navbar-fixed-top navbar-inverse" id="app_header">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to(image_tag('cmb_archives_dark.png', size: '207x45'), root_url ,id: 'logo') %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Archives', archives_path %></li>
        <li><%= link_to 'Authors', authors_path %></li>
        <li><%= link_to 'Languages', languages_path %></li>
        <li><%= link_to 'Print Labels', labels_archives_path %></li>
      </ul>
      <ul class=" nav navbar-nav navbar-right">
        <li><%= link_to 'Search', root_path %></li>
        <% if logged_in? %>
          <li><%= link_to 'Log out', logout_path %></li>
        <% else %>
          <li><%= link_to 'Librarian Log-in',  login_path(coming_from: request.path) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>